.App {
  text-align: center;
}

#container {
  display: block;
  width: 61%;
  /* height: 90%; */
  border: 2px solid black;
  position: absolute;
  left: 21%;
  top: 9%;
}
#container > div {
  font-weight: 900;
  color: red;
}
#welcome {
  font-weight: 900;
  margin-top: 21%;
  margin-left: 0%;
}

label{
  font-weight: 900;
}

#element{
  border: 1px solid grey;
}
